.block1 {
    height: 200px;

}

.block2 {
    height: 30px;
}

.block3 {
    height: 15px;
}

.block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_temp {
    height: 1000px;
    color: white;
}