@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav_bar_height: 65px;
    --bg_color: rgb(9, 9, 11);
    --content_text_color: rgb(161, 161, 170);
    --full_screen_box_width: 1200px;
}

* {
    /* outline: 0.5px solid white; */
    padding: 0;
    margin: 0;
    user-select: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

html {
    scroll-behavior: smooth
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg_color);
}

.gradient_text {
    background: linear-gradient(90deg, rgb(149, 50, 231), rgb(217, 40, 122));
    -webkit-background-clip: text;
    color: transparent;
}

.fixed_title {
    font-size: 40px;
}

.fixed_caption {
    color: var(--content_text_color);
}
.black_card{
    border: rgba(255, 255, 255, 0.5) 0.5px solid;
    border-radius: 10px;
    background-color: rgb(9, 9, 11);
}


/*classes*/
.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*animations*/
@keyframes jump {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.arrow {
    width: 40px;
    height: 40px;
    align-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    animation: jump 0.5s ease-out infinite alternate;
    line-height: 40px;
}

.arrow:hover {
    
    background-color: rgba(255, 255, 255, 0.4);
}

@keyframes floating{
    from{transform:rotate(0deg) translateY(-6px) rotate(0deg)}
    to{transform:rotate(360deg) translateY(-6px) rotate(-360deg)}
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    z-index: -1;
    /* 放在所有内容后面 */
    opacity: 0.5;
}

